{% extends 'layout.html' %}

{% block title %}LearnUp | Register User{% endblock %}

{% block content %}
							<!-- Row -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 pb-4">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Users</a></li>
				<li class="breadcrumb-item active" aria-current="page">Add Users</li>
			</ol>
		</nav>
	</div>
</div>
<!-- /Row -->

<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="content-box-01">
			<div class="content-box-01-head mb-3">
				<h5 class="mb-0 font-normal" style="text-transform: none;">
					You can add/register users either by importing a file (must be an excel or csv file)
					or by filling in the user registration form. 
					You can download <a href="#" download style="color: #0000ff;">a sample of the import file</a>. <br>
					The excel or csv file should have these column titles at the top row: 
					UserID, AccountType, Name, Gender, Class/Department, and AdmissionYear. <br>
					<span style="font-weight:600;">Note:</span> AdmissionYear is not required for Admin & Teacher account types.
				
				</h5>
			</div>
		</div>
</div>

<!-- Row -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="dashboard_container">
			<div class="dashboard_container_header">
				<div class="dashboard_fl_1">
					<h4>
						Import File
					</h4>
					
				</div>
			</div>
			<div class="dashboard_container_body">
				<div class="submit-section">
					<form action="#" method="get" enctype="multipart/form-data">
						<div class="form-row">
							<div class="form-group col-md-12">
								<div class="input-group">
								<div class="custom-file">
									<input type="file" class="custom-file-input" id="inputGroupFile04" style="margin-top: 10px;" aria-describedby="inputGroupFileAddon04" accept=".xlsx .csv">
									<label class="custom-file-label" for="inputGroupFile04">
									<i class="ti-plus"></i>	Add File
									</label>
								</div>
								<div class="input-group-append">
									<button class="btn" type="button" id="inputGroupFileAddon04" 
									style="border-radius: 0 4px 4px 0;padding: 0 10px;background: #131b31;border: 1px solid #131b31;">
										<i class="ti-thumb-up"></i> Submit</button>
								</div>
								</div>
							</div>														
						</div>
					</form>
				</div>								
			</div>
			
		</div>
	</div>
</div>
<!-- /Row -->

<!-- Row -->
<div class="row">
	<div class="col-5">
		<hr>
	</div>
	<div class="col-2 text-center">
		<h1>OR</h1>
	</div>
	<div class="col-5">
		<hr>
	</div>
</div>
<!-- /Row -->

<!-- Row -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="dashboard_container">
			<div class="dashboard_container_header">
				<div class="dashboard_fl_1">
					<h4>Fill User Registration Form</h4>
				</div>
			</div>
			<div class="dashboard_container_body p-4">
				<!-- User info -->
				<div class="submit-section">
					<h4>Choose the Account Type</h4>
					<div class="custom-tab customize-tab tabs_creative">
						<ul class="nav nav-tabs pb-2 b-0" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="student-tab" data-toggle="tab" href="#student" role="tab" aria-controls="student" aria-selected="true">Student</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="teacher-tab" data-toggle="tab" href="#teacher" role="tab" aria-controls="teacher" aria-selected="false">Teacher</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin" aria-selected="false">Admin</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="student" role="tabpanel" aria-labelledby="student-tab">
								<form>
								<!-- Student form -->
									<div class="form-row slideInRight form-anime" id="student_form">
										{% for field in student_form %}
											{% if field.name != 'csrf_token' %}
												<div class="form-group col-md-6">
													{% if field.id not in ['csrf_token'] %}
														{{ field.label }}
													{% endif %}
													{{ field }}
												</div>
											{% endif %}
										{%endfor%}
										
										<div class="form-group col-md-2">
											<div>
												<button type="submit" class="btn search-btn full-width rounded">
													<i class="ti-thumb-up"></i> Submit
												</button>
											</div>
										</div>
										{{ student_form.csrf_token }}
									</div>
								<!-- Student form -->
								</form>
							</div>
							<div class="tab-pane fade" id="teacher" role="tabpanel" aria-labelledby="teacher-tab">
								<form>
									<!-- Teacher form -->
									<div class="form-row slideInRight form-anime" id="teacher_form">
										{% for field in teacher_form %}
											{% if field.name != 'csrf_token' %}
												<div class="form-group col-md-6">
													{% if field.id not in ['csrf_token'] %}
														{{ field.label }}
													{% endif %}
													{{ field }}
												</div>
											{% endif %}
										{%endfor%}
										
										<div class="form-group col-md-2">
											<div>
												<button type="submit" class="btn search-btn full-width rounded">
													<i class="ti-thumb-up"></i> Submit
												</button>
											</div>
										</div>							
										{{ teacher_form.csrf_token }}
									</div>
									<!-- Teacher form -->
								</form>
							</div>
							<div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
								<form>
									<!-- Admin form -->
									<div class="form-row slideInRight form-anime" id="admin_form">
										{% for field in admin_form %}
											{% if field.name != 'csrf_token' %}
												<div class="form-group col-md-6">
													{% if field.id not in ['csrf_token'] %}
														{{ field.label }}
													{% endif %}
													{{ field }}
												</div>
											{% endif %}
										{%endfor%}

										<div class="form-group col-md-2">
											<div>
												<button type="submit" class="btn search-btn full-width rounded">
													<i class="ti-thumb-up"></i> Submit
												</button>
											</div>
										</div>

										{{ admin_form.csrf_token }}														
									</div>
									<!-- Admin form -->
								</form>
							</div>
						</div>
					</div>
						
				</div>
				<!-- User info -->
				
				
				
			</div>
			
		</div>
	</div>
</div>
<!-- /Row -->
							
{% endblock %}

{% block modal %}
								
{% endblock %}
					
{% block extrajs %}
	<script>
		kk = document.querySelector("[name='password']")
		kk.classList.add("form-control")
		kk.setAttribute("placeholder", "****************")
	</script>
{% endblock  %}			