{% extends 'layout.html' %}

{% block title %}LearnUp | Add Book{% endblock %}

{% block content %}
	<!-- Row -->
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 pb-4">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Books</a></li>
					<li class="breadcrumb-item active" aria-current="page">Add Books</li>
					<li class="breadcrumb-item" id="feedback">
						{% include 'includes/messages.html'%}
					</li>
				</ol>
			</nav>
		</div>
	</div>
	<!-- /Row -->
	
	<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="content-box-01">
				<div class="content-box-01-head mb-3">
					<h5 class="mb-0 font-normal" style="text-transform: none;">
						<span style="font-weight:600;">Note:</span> You can add books either by importing a file (must be an Excel file)
						or by filling in the book inventory form. <br><br>					
					</h5>
				</div>
			</div>
	</div>

	<!-- Row -->
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="dashboard_container">
				<div class="dashboard_container_header">
					<div class="dashboard_fl_1">
						<h4 style="text-transform: full-size-kana !important;">
							Import .xlsx file with size < 2MB
						</h4>
						
					</div>
				</div>
				<div class="dashboard_container_body">
					<div class="submit-section">
						<form action="#" method="post" enctype="multipart/form-data">
							<div class="form-row">
								<div class="form-group col-md-6 col-sm-12">
									<input class="form-control form-control-lg" type="file" name="user_file" accept=".xlsx" required>
								</div>	
								<div class="form-group col-md-3 col-sm-6">
									<input class="form-control" type="number" name="total_rows" 
									placeholder="Total number of rows" required>							
								</div>
								<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
								<div class="form-group col-md-3">
									<button type="submit" class="btn search-btn full-width rounded mt-1">
										<i class="ti-thumb-up"></i> Submit
									</button>
								</div>													
							</div>
					</form>
					</div>								
				</div>

				<div class="dashboard_container_header">
					<a href="{{ url_for('dashboard.download_sample_file', file_name='books_sample.xlsx') }}" download="books_sample.xlsx" style="color: #0000ff;">
					<i class="fa fa-file-download"></i>	Download .xlsx example</a>
				</div>
				
			</div>
		</div>
	</div>
	<!-- /Row -->
	
	<!-- Row -->
	<div class="row">
		<div class="col-5">
			<hr>
		</div>
		<div class="col-2 text-center">
			<h1>OR</h1>
		</div>
		<div class="col-5">
			<hr>
		</div>
	</div>
	<!-- /Row -->

	<!-- Row -->
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="dashboard_container">
				<div class="dashboard_container_header">
					<div class="dashboard_fl_1">
						<h4>Fill Book Inventory Form</h4>
					</div>
				</div>
				<div class="dashboard_container_body p-4">
					<!-- Book info -->
					<div class="submit-section">
						<form action="{{ url_for('books.add_books') }}" method="post">
								<!-- Book form -->
									<div class="form-row slideInRight form-anime" id="addBook_form">
										{% for field in books_form %}
											{% if field.name != 'csrf_token' %}
												<div class="form-group col-md-6">
													{% if field.id not in ['csrf_token'] %}
														{{ field.label }}
													{% endif %}
													{{ field }}
												</div>
											{% endif %}
										{%endfor%}
										
										<div class="form-group col-md-2">
											<div>
												<button type="submit" class="btn search-btn full-width rounded">
													<i class="ti-thumb-up"></i> Submit
												</button>
											</div>
										</div>
										{{ books_form.csrf_token }}
									</div>
								<!-- Books form -->
								</form>
					</div>
					<!-- Book info -->
					
					
					
				</div>
				
			</div>
		</div>
	</div>
	<!-- /Row -->
					
{% endblock %}