<div class="dashboard_container_body" id="results_box">
{% if book_records %}
    <div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Classification No.</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Category</th>
                <th scope="col">Current Qty.</th>
                <th scope="col">Date Recorded</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for record in book_records %}
                <tr>
                    <th scope="row">{{ record.classification_no | upper }}</th>
                    <td>{{ record.title | upper }} </td>
                    <td>{{ record.author | title }} </td>
                    <td>{{ record.category | title }} </td>
                    <td>{{ record.current_qty }} </td>
                    <td>{{ record.date_recorded.strftime("%d-%m-%Y") }}</td>
                    <td>
                        <button hx-get="{{ url_for('books.edit_book', book_id=record.id ) }}" id="edit_btn_{{record.id}}" 
                            class="result_btns" style="background-color:#0018a0; border: solid 1px #0018a0;"
                            hx-trigger="click"
                            hx-target="#editrecord"
                            hx-swap="outerHTML"
                            onclick="modal_effects()">
                            <i class="ti-pencil"></i> Edit Book
                        </button>
                        
                    </td>
            
                    <td>
                        <button hx-delete="{{ url_for('books.delete_book', book_id=record.id ) }}" id="delete_btn_{{record.id}}"
                            class="result_btns" style="background-color:#be0000; border: solid 1px #be0000;"
                            hx-trigger="click"
                            hx-target="#feedback"
                            hx-include="[name='csrf_token']"
                            hx-swap="outerHTML"
                            onclick="remove_row('delete_btn_{{record.id}}')">
                            <i class="ti-trash"></i> Delete Book
                        </button>
                    </td>
                </tr>
            {% endfor %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </tbody>
    </table>
</div>
{% else %}
    <h4 class="p-3 text-center">No book records found!</h4>
{% endif %}
</div>
