.result_btns{
    color: #fff;
    font-weight: bolder;
    padding: 6px;
    border-radius: 5px;
    font-size: 0.7rem;
    outline: none!important;
}
.table tr th, .table tr td {
    padding: 8px 10px !important;
}

/*
.form-anime{
    transition: 0.2s ease-in;
    -webkit-animation-duration: 0.05s;
    animation-duration: 0.05s;
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}*/

[class*=" ti-"], [class^=ti-]{
    font-size: 1rem !important;
}

a#admin-tab:hover, a#student-tab:hover, a#teacher-tab:hover{
    color: #000033!important;
}
a#admin-tab.active:hover, a#student-tab.active:hover, a#teacher-tab.active:hover{
    color: #edf0f5!important;
}

a#admin-tab.active, a#student-tab.active, a#teacher-tab.active{
    background: #000033!important;
}

.red-skin .btn.search-btn{
    background-color: #000033!important;
}

@media print{
	*{
		color:#000!important
    }
	html,body{
		background-color:#fff!important;
		color:#000!important
    }

    html {
        margin: 0px!important;
      }

    div.header, div#dashboard-menu, div#breadcrumb-div,
    .dashboard_container .dashboard_container_header, footer.dark-footer {
	    display:none;
	}

	@page{
	size: A4;
	margin: 0mm;
	orientation: portrait;
}
}

.dashboard_fl_1 a.cancel_btn:hover, .dashboard_fl_1 a.cancel_btn:focus {
	background-color: #fff !important;
	color: #da0b4e !important;
	border: 1px #da0b4e solid;
	transition: all .1s ease-in-out;
}

.dashboard_fl_1 a.print_btn:hover, .dashboard_fl_1 a.print_btn:focus {
	background-color: #fff !important;
	color: #131b31 !important;
	border: 1px #131b31 solid;
	transition: all .1s ease-in-out;
}
.nice-select, .nice-select span {
	line-height: normal!important;
}

.nice-select .list {
	max-height: 135px !important;
}