{% extends 'layout.html' %}

{% block title %}LearnUp | Reports{% endblock %}

{% block content %}
<!-- Row -->
	<div class="row" id="report-breadcrumb-nav">
		<div class="col-lg-12 col-md-12 col-sm-12 pb-4">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Reports</li>
				</ol>
			</nav>
		</div>
	</div>
<!-- /Row -->

<!-- Row -->
	<div class="row" id="reports_div">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="dashboard_container">
			<div class="dashboard_container_header">
				<div class="dashboard_fl_1">
					<h4>Generate Reports</h4>
				</div>
			</div>
			<div class="dashboard_container_body p-4">
				<div class="submit-section">
					<form hx-post="{{ url_for('dashboard.print_reports') }}" hx-target="#reports_div" hx-swap="outerHTML">
						<!-- Report form -->
						<div class="form-row slideInRight form-anime" id="report_form">
							{% for field in report_form %}
								{% if field.name != 'csrf_token' %}
									<div class="form-group col-md-3">
										{% if field.id not in ['csrf_token'] %}
											{{ field.label }}
										{% endif %}
										{{ field }}
									</div>
								{% endif %}
							{%endfor%}

							<div class="form-group col-md-2">
								<div>
									<button type="submit" class="btn search-btn full-width rounded">
										<i class="ti-thumb-up"></i> Submit
									</button>
								</div>
							</div>

							{{ report_form.csrf_token }}
						</div>
						<!-- Report form -->
					</form>

				</div>
			</div>

		</div>
	</div>
</div>
<!-- /Row -->
{% endblock %}
