
{% extends 'layout.html' %}

{% block title %}LearnUp | Track Books{% endblock %}

{% block content %}

<!-- Row -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 pb-4">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Track Books</li>
				<li class="breadcrumb-item" id="feedback">
					{% include 'includes/messages.html'%}
				</li>
			</ol>
		</nav>
	</div>
</div>
<!-- /Row -->

<!-- Row -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="dashboard_container">
			<div class="dashboard_container_header">
				<div class="dashboard_fl_1">
					<h4>Search Borrowed Books</h4>
				</div>
			</div>
			<div class="dashboard_container_body p-4">
				<!-- User info -->
				<div class="submit-section">
					<div class="custom-tab customize-tab tabs_creative">
						<ul class="nav nav-tabs pb-2 b-0" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="by-userid-tab" data-toggle="tab" href="#by_userid" role="tab" aria-controls="by_userid" aria-selected="true">User ID</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="by-date-tab" data-toggle="tab" href="#by_date" role="tab" aria-controls="by_date" aria-selected="false">Issue or Return Date</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="by-bktitle-tab" data-toggle="tab" href="#by_title" role="tab" aria-controls="by_title" aria-selected="false">Book Title</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="by_userid" role="tabpanel" aria-labelledby="by-userid-tab">
								<form action="{{ url_for('users.add_student_account') }}" method="post">
								<!-- Student form -->
									<div class="form-row slideInRight form-anime" id="userid_form">
										{% for field in student_form %}
											{% if field.name != 'csrf_token' %}
												<div class="form-group col-md-6">
													{% if field.id not in ['csrf_token'] %}
														{{ field.label }}
													{% endif %}
													{{ field }}
												</div>
											{% endif %}
										{%endfor%}
										
										<div class="form-group col-md-2">
											<div>
												<button type="submit" class="btn search-btn full-width rounded">
													<i class="ti-thumb-up"></i> Submit
												</button>
											</div>
										</div>
										{{ student_form.csrf_token }}
									</div>
								<!-- Student form -->
								</form>
							</div>
							<div class="tab-pane fade" id="by_date" role="tabpanel" aria-labelledby="by-date-tab">
								<form action="{{ url_for('users.add_teacher_account') }}" method="post">
									<!-- Teacher form -->
									<div class="form-row slideInRight form-anime" id="date_form">
										{% for field in teacher_form %}
											{% if field.name != 'csrf_token' %}
												<div class="form-group col-md-6">
													{% if field.id not in ['csrf_token'] %}
														{{ field.label }}
													{% endif %}
													{{ field }}
												</div>
											{% endif %}
										{%endfor%}
										
										<div class="form-group col-md-2">
											<div>
												<button type="submit" class="btn search-btn full-width rounded">
													<i class="ti-thumb-up"></i> Submit
												</button>
											</div>
										</div>							
										{{ teacher_form.csrf_token }}
									</div>
									<!-- Teacher form -->
								</form>
							</div>
							<div class="tab-pane fade" id="by_title" role="tabpanel" aria-labelledby="by-bktitle-tab">
								<form action="{{ url_for('users.add_admin_account') }}" method="post">
									<!-- Admin form -->
									<div class="form-row slideInRight form-anime" id="bktitle_form">
										{% for field in admin_form %}
											{% if field.name != 'csrf_token' %}
												<div class="form-group col-md-6">
													{% if field.id not in ['csrf_token'] %}
														{{ field.label }}
													{% endif %}
													{{ field }}
												</div>
											{% endif %}
										{%endfor%}

										<div class="form-group col-md-2">
											<div>
												<button type="submit" class="btn search-btn full-width rounded">
													<i class="ti-thumb-up"></i> Submit
												</button>
											</div>
										</div>

										{{ admin_form.csrf_token }}														
									</div>
									<!-- Admin form -->
								</form>
							</div>
						</div>
					</div>
						
				</div>
				<!-- User info -->				
			</div>
			
		</div>
	</div>
</div>
<!-- /Row -->

{% endblock %}