{% if admin %}
	<div class="col-lg-3 col-md-3">
		<div class="dashboard-navbar">

			<div class="d-user-avater">
				<img src="{{ url_for('static', filename='img/m_user.svg') }}" width="500" height="500" class="img-fluid avater" alt="">
				<h4>Adam Harshvardhan</h4>
				<span>Canada USA</span>
			</div>

			<div class="d-navigation">
				<ul id="side-menu">
					<li class="active">
						<a href="/dashboard/admin">
							<i class="ti-dashboard"></i>Dashboard</a>
					</li>
					<li class="dropdown">
						<a href="#">
							<i class="ti-user"></i>Users<span class="ti-angle-left"></span>
						</a>
						<ul class="nav nav-second-level">
							<li>
								<a href="{{ url_for('users.user_index') }}">
									<i class="ti-plus"></i>Add Users</a>
							</li>
							<li>
								<a href="{{ url_for('users.list_users') }}">
									<i class="ti-view-list"></i>View Users</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#">
							<i class="ti-book"></i>Books<span class="ti-angle-left"></span>
						</a>
						<ul class="nav nav-second-level">
							<li>
								<a href="{{ url_for('books.book_index') }}">
									<i class="ti-plus"></i>Add Books</a>
							</li>
							<li>
								<a href="new_pages/books/view.html">
									<i class="ti-view-list"></i>View Books</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="new_pages/track_books.html">
							<i class="ti-layers"></i>Track Books</a>
					</li>
					<li>
						<a href="new_pages/book_tags.html">
							<i class="ti-tag"></i>Generate Book Tags</a>
					</li>
					<li class="dropdown">
						<a href="#">
							<i class="ti-layers"></i>Manage Records<span class="ti-angle-left"></span>
						</a>
						<ul class="nav nav-second-level">
							<li>
								<a href="{{ url_for('record_mgt.class_index') }}">
									<i class="ti-home"></i>Class</a>
							</li>
							<li>
								<a href="{{ url_for('record_mgt.staff_index') }}">
									<i class="ti-desktop"></i>Staff</a>
							</li>
							<li>
								<a href="{{ url_for('record_mgt.role_index') }}">
									<i class="ti-flag"></i>Role</a>
							</li>

						</ul>
					</li>

					<li>
						<a href="new_pages/reports.html">
							<i class="ti-notepad"></i>Reports</a>
					</li>
				</ul>
			</div>

		</div>
	</div>
{% else %}
	<div class="col-lg-3 col-md-3">
		<div class="dashboard-navbar">
			<div class="d-user-avater">
				<img src="{{ url_for('static', filename='img/f_user.svg') }}" width="500" height="500" class="img-fluid avater" alt="">
				<h4>Lilly Harshvardhan</h4>
				<span>ID: 10087872</span>
			</div>
			
			<div class="d-navigation">
				<ul id="side-menu">
					<li class="active"><a href="#"><i class="ti-dashboard"></i>Dashboard</a></li>
					<li><a href="new_pages/profile.html"><i class="ti-user"></i>My Profile</a></li>
					<li class="dropdown">
						<a href="#"><i class="ti-book"></i>Books History<span class="ti-angle-left"></span></a>
						<ul class="nav nav-second-level">
							<li><a href="new_pages/books_history/borrowed.html"><i class="ti-layers"></i>Borrowed Books</a></li>
							<li><a href="new_pages/books_history/returned.html"><i class="ti-reload"></i>Returned Books</a></li>
						</ul>
					</li>
				</ul>
			</div>
			
		</div>	
	</div>
{% endif %}

