{% extends 'layout.html' %}

{% block title %}LearnUp | Admin Dashboard{% endblock %}

{% block content %}
<!-- Row -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 pb-4">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
				<li class="breadcrumb-item" id="feedback">
					{% include 'includes/messages.html'%}
				</li>
			</ol>
		</nav>
	</div>
</div>
<!-- /Row -->

<!-- Row -->
<div class="row">

	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
		<div class="dashboard_stats_wrap">
			<div class="dashboard_stats_wrap_content"><h4 class="text-success">{{ counts[0] }}</h4> <span>Users</span></div>
			<div class="dashboard_stats_wrap-icon"><i class="ti-user"></i></div>
		</div>	
	</div>
	
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
		<div class="dashboard_stats_wrap">
			<div class="dashboard_stats_wrap_content"><h4 class="text-warning">{{ counts[2] }}</h4> <span>Books</span></div>
			<div class="dashboard_stats_wrap-icon"><i class="ti-book"></i></div>
		</div>	
	</div>
	
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
		<div class="dashboard_stats_wrap">
			<div class="dashboard_stats_wrap_content"><h4 class="text-danger">2000</h4> <span>Borrowed Books</span></div>
			<div class="dashboard_stats_wrap-icon"><i class="ti-layers"></i></div>
		</div>	
	</div>
	
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
		<div class="dashboard_stats_wrap">
			<div class="dashboard_stats_wrap_content"><h4 class="text-info">{{ counts[1] }}</h4> <span>Classes</span></div>
			<div class="dashboard_stats_wrap-icon"><i class="ti-home"></i></div>
		</div>	
	</div>
	
</div>
<!-- /Row -->

<!-- Row -->
<div class="mb-3"><h5 class="mb-0">Search Book</h5></div>
<form>
	<div class="row mb-3">
		
		{% for field in search_form %}
			{% if field.name != 'csrf_token' %}
				<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="form-group m-0">
							{% if field.id not in ['csrf_token'] %}
								{{ field.label }}
							{% endif %}
							{{ field }}
						</div>
				</div>	
				{% endif %}
		{%endfor%}
		
		{{ search_form.csrf_token }}
	</div>
</form>
<!-- /Row -->

<!-- Row -->
<div class="mb-3"><h5 class="mb-0">Results</h5></div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="dashboard_container">
			<div class="dashboard_container_body" id="results_box">
				<div class="table-responsive">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Classi. No.</th>
								<th scope="col">Title</th>
								<th scope="col">Author</th>
								<th scope="col">Category</th>
								<th scope="col">Borrowed By</th>
								<th scope="col">Return Date</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>
	
</div>
<!-- /Row -->
			
{% endblock %}


{% block extrajs %}

	<script>
		var options = {searchable: true};
    
		
		htmx.onLoad(function(content) {
				var user_search_list = content.querySelectorAll("select.user_select");
				for (var i = 0; i < user_search_list.length; i++) {
					var select_item = user_search_list[i];		
					new NiceSelect.bind(
						select_item, options
					);
				}
		})
	</script>
{% endblock %}