{% extends 'layout.html' %}

{% block title %}LearnUp | Login User{% endblock %}

{% block login_content %}
<!-- ========================== SignUp Elements ============================= -->
	<section class="log-space">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-11 col-md-11">

				<div class="row no-gutters position-relative log_rads">
					<div class="col-lg-6 col-md-5 bg-cover" style="background:#00003373 url(static/img/log.png) no-repeat;">
						<div class="lui_9okt6">
							<div class="_loh_revu97">
								<div id="reviews-login">

									<!-- Single Reviews -->
									<div class="_loh_r96">
										<div class="_loh_r92">
											<h1 style="color:#000033;">Welcome to LearnUp</h1>
										</div>
										<div class="_loh_foot_r93">
											<h5 style="color:#000033;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-7 position-static p-4">
						<div class="log_wraps">
							<a href="/auth/login" class="log-logo_head"><img src="static/img/logo.png" class="img-fluid" width="80" alt="" /></a>
							<div class="log__heads">
								<h4 class="mt-0 logs_title">Sign <span class="theme-cl">In</span></h4>
							</div>
							<form action="" method="POST">
								{% for field in form %}
									<div class="form-group">
										{% if field.id not in ['csrf_token'] %}
											{{ field.label }}
										{% endif %}
										{{ field }}
									</div>
								{%endfor%}

								<div class="form-group">
									<button class="btn btn_apply w-100 btn-primary">Sign In</button>
								</div>
							</form>

							<div class="form-group text-center mb-0 mt-3 theme-cl">
								Contact <a href="mailto:sophiaasibu.sa@gmail.com">Admin</a> if you have any account related issues?
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- ========================== Login Elements ============================= -->

{% endblock %}

{% block login_extrajs %}
	<script>
		kk = document.querySelector("[name='password']")
		kk.classList.add("form-control")
		kk.setAttribute("placeholder", "****************")
	</script>
{% endblock  %}