{% extends 'layout.html' %}

{% block title %}LearnUp | Class Mgt.{% endblock %}

{% block content %}
<!-- Row -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 pb-4">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Manage Records</a></li>
				<li class="breadcrumb-item active" aria-current="page">Class</li>
			</ol>
		</nav>
	</div>
</div>
<!-- /Row -->

<!-- Row -->
<div class="mb-3"><h5 class="mb-0">Add Class</h5></div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="dashboard_container">
			<div class="dashboard_container_header">
				<div class="dashboard_fl_1">
					<h4>Fill in Class Details</h4>
				</div>
			</div>
			<div class="dashboard_container_body p-4">
				<!-- Class info -->
				<div class="submit-section">
					<form action="{{ url_for('record_mgt.add_class') }}" method="post">
						<!-- Add class form -->
						<div class="form-row slideInRight form-anime" id="student_form">
							{% for field in form %}
								{% if field.name != 'csrf_token' %}
									<div class="form-group col-md-6">
										{% if field.id not in ['csrf_token'] %}
											{{ field.label }}
										{% endif %}
										{{ field }}
									</div>
								{% endif %}
							{%endfor%}
																			
						</div>
						<!-- Add class form -->
						{{ form.csrf_token }}

						<div class="form-row">
							<div class="form-group col-md-2">
								<div>
									<button type="submit" class="btn search-btn full-width rounded">
										<i class="ti-thumb-up"></i> Submit
									</button>
								</div>
							</div>
						</div>	

					</form>
				</div>
				<!-- Class info -->
				
				
				
			</div>
			
		</div>
	</div>
</div>
<!-- /Row -->

<!-- Row -->
<div class="mb-3"><h5 class="mb-0">Search By</h5></div>
<form hx-get="{{ url_for('record_mgt.search_class' ) }}" hx-target="#results_box" hx-swap="outerHTML">
	<div class="row mb-3">
		{% for field in searchform %}
			{% if field.name != 'csrf_token' %}
				<div class="col-lg-3 col-md-12 col-sm-12">
					<div class="form-group m-0">
						<div>
						{% if field.id not in ['csrf_token'] %}
							{{ field.label }}
						{% endif %}
						{{ field }}
						</div>
					</div>
				</div>	
			{% endif %}
		{%endfor%}
		
		<div class="col-lg-2 col-md-12 col-sm-12">
			<div class="form-group m-0">
				<div>
					<label style="visibility:hidden;">Search</label>
					<button id="view_class_btn"
						class="btn search-btn full-width" style="padding: 15px 25px;border-radius: 5px;">
						Search
					</button>
					
				</div>
			</div>
		</div>
		{{ searchform.csrf_token }}
	</div>
</form>

<!-- /Row -->

<!-- Row -->
<div class="mb-3"><h5 class="mb-0">Results</h5></div>
<div class="row mb-2">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="dashboard_container">
			
			<div class="dashboard_container_body" id="results_box">
				{% if class_records | length != 0 %}
				<div class="table-responsive">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Programme</th>
								<th scope="col">Class</th>
								<th scope="col">Total Students</th>
								<th scope="col">Admission Year</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for record in class_records %}
								<tr>
									<th scope="row">{{ record.programme }}</th>
									{% set s_prog = record.programme | get_course %}
									{% set s_form = record.year_group | get_current_class %}
									{% set s_track = record.track | get_track %}

									{% set s_class = [s_prog, s_form, record.current_class, s_track] | join('') %}
									<td>{{ s_class }} </td>
									<td>{{ record.users | length }}</td>
									<td>{{ record.year_group }}</td>
									<td>
										  <button hx-get="{{ url_for('record_mgt.edit_class', class_id=record.id ) }}" id="edit_btn" 
										  	class="result_btns" style="background-color:#0018a0; border: solid 1px #0018a0;"
											hx-trigger="click"
											hx-target="#editrecord"
											hx-swap="outerHTML"
											onclick="modal_effects()">
											<i class="ti-plus"></i> Edit Class
										</button>
										
									</td>
									<td>
										<button hx-delete="{{ url_for('record_mgt.delete_class', class_id=record.id ) }}" id="delete_btn"
											class="result_btns" style="background-color:#be0000; border: solid 1px #be0000;"
											hx-trigger="click"
											hx-target="#results_box"
											hx-include="[name='csrf_token']"
											hx-swap="outerHTML">
											<i class="ti-trash"></i> Delete Class
										</button>
									</td>
								</tr>
							{% endfor %}
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						</tbody>
					</table>
				</div>
				{% else %}
				<h4 class="p-3 text-center">No class records found!</h4>
				{% endif %}
			</div>
			
		</div>
	</div>
	
</div>
<!-- /Row -->



				
{% endblock %}

{% block modal %}
    <div id="editrecord"></div>
{% endblock %}

	