{% if view == 'class' %}
    <div class="dashboard_container_body" id="results_box">
    {% if class_records | length != 0 %}
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Programme</th>
                    <th scope="col">Class</th>
                    <th scope="col">Total Students</th>
                    <th scope="col">Admission Year</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for record in class_records %}
                    <tr>
                        <th scope="row">{{ record.programme }}</th>
                        {% set s_prog = record.programme | get_course %}
                        {% set s_form = record.year_group | get_current_class %}
                        {% set s_track = record.track | get_track %}

                        {% set s_class = [s_prog, s_form, record.current_class, s_track] | join('') %}
                        <td>{{ s_class }} </td>
                        <td>{{ record.users | length }}</td>
                        <td>{{ record.year_group }}</td>
                        <td>
                              <button hx-get="{{ url_for('record_mgt.edit_class', class_id=record.id ) }}"
                                      id="edit_btn_{{record.id}}" class="result_btns" style="background-color:#0018a0; border: solid 1px #0018a0;"
                                      hx-trigger="click"
                                      hx-target="#editrecord"
                                      hx-swap="outerHTML"
                                      onclick="modal_effects()">
                                <i class="ti-pencil"></i> Edit Class
                            </button>

                        </td>
                        <td>
                            <button hx-delete="{{ url_for('record_mgt.delete_class', class_id=record.id ) }}" id="delete_btn_{{record.id}}"
                                    class="result_btns" style="background-color:#be0000; border: solid 1px #be0000;"
                                    hx-trigger="click"
                                    hx-target="#feedback"
                                    hx-include="[name='csrf_token']"
                                    hx-swap="outerHTML"
                                    onclick="remove_row('delete_btn_{{record.id}}')">
                                <i class="ti-trash"></i> Delete Class
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </tbody>
        </table>
    </div>
    {% else %}
        <h4 class="p-3 text-center">No class records found!</h4>
    {% endif %}
    </div>
{% endif %}

{% if view == 'staff' %}
    <div class="dashboard_container_body" id="results_box">
        {% if dept_record %}
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Department</th>
                        <th scope="col"></th>
                        <th scope="col">Total Teachers</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" colspan=2>{{ dept_record.department }}</th>
                        <td>{{ dept_record.users | length }}</td>
                        <td>
                              <button hx-get="{{ url_for('record_mgt.edit_staff', staff_id=dept_record.id ) }}"
                                      id="edit_btn_{{record.id}}" class="result_btns" style="background-color:#0018a0; border: solid 1px #0018a0;"
                                      hx-trigger="click"
                                      hx-target="#editrecord"
                                      hx-swap="outerHTML"
                                      onclick="modal_effects()">
                                <i class="ti-pencil"></i> Edit Staff
                            </button>

                        </td>
                        <td>
                            <button hx-delete="{{ url_for('record_mgt.delete_staff', staff_id=dept_record.id ) }}" id="delete_btn_{{record.id}}"
                                    class="result_btns" style="background-color:#be0000; border: solid 1px #be0000;"
                                    hx-trigger="click"
                                    hx-target="#feedback"
                                    hx-include="[name='csrf_token']"
                                    hx-swap="outerHTML"
                                    onclick="remove_row('delete_btn_{{record.id}}')">
                                <i class="ti-trash"></i> Delete Staff
                            </button>
                        </td>
                    </tr>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                </tbody>
            </table>
        </div>
        {% else %}
        <h4 class="p-3 text-center">No staff records found!</h4>
        {% endif %}
    </div>
{% endif %}

{% if view == 'role' %}
    <div class="dashboard_container_body" id="results_box">
    {% if role_records | length != 0 %}
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Role</th>
                    <th scope="col">Permission Level</th>
                    <th scope="col">Total No. of Users</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for record in role_records %}
                    <tr>
                        <th scope="row">{{ record.purpose }}</th>
                        {% set permit = 0 %}
                        {% if record.permission_level %}
                            {% set permit = 1 %}
                        {% endif %}
                        <td>{{ permit }} </td>
                        <td>{{ record.users | length }}</td>
                        <td>
                              <button hx-get="{{ url_for('record_mgt.edit_role', role_id=record.id ) }}"
                                      id="edit_btn_{{record.id}}" class="result_btns" style="background-color:#0018a0; border: solid 1px #0018a0;"
                                      hx-trigger="click"
                                      hx-target="#editrecord"
                                      hx-swap="outerHTML"
                                      onclick="modal_effects()">
                                <i class="ti-pencil"></i> Edit Role
                            </button>

                        </td>
                        <td>
                            <button hx-delete="{{ url_for('record_mgt.delete_role', role_id=record.id ) }}" id="delete_btn_{{record.id}}"
                                    class="result_btns" style="background-color:#be0000; border: solid 1px #be0000;"
                                    hx-trigger="click"
                                    hx-target="#feedback"
                                    hx-include="[name='csrf_token']"
                                    hx-swap="outerHTML"
                                    onclick="remove_row('delete_btn_{{record.id}}')">
                                <i class="ti-trash"></i> Delete Role
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </tbody>
        </table>
    </div>
    {% else %}
        <h4 class="p-3 text-center">No role records found!</h4>
    {% endif %}
    </div>
{% endif %}