{% extends 'layout.html' %}

{% block title %}LearnUp | Staff Mgt.{% endblock %}

{% block content %}
<!-- Row -->
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 pb-4">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Home</a></li>
				<li class="breadcrumb-item"><a href="#">Manage Records</a></li>
				<li class="breadcrumb-item active" aria-current="page">Role</li>
				<li class="breadcrumb-item" id="feedback">
					{% include 'includes/messages.html'%}
				</li>
			</ol>
		</nav>
	</div>
</div>
<!-- /Row -->

<!-- Row -->
<div class="mb-3"><h5 class="mb-0">Add Role</h5></div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="dashboard_container">
			<div class="dashboard_container_header">
				<div class="dashboard_fl_1">
					<h4>Fill in Role Details</h4>
				</div>
			</div>
			<div class="dashboard_container_body p-4">
				<!-- Role info -->
				<div class="submit-section">
					<form hx-post="{{ url_for('record_mgt.add_role' ) }}" hx-target="#results_box" hx-swap="outerHTML">
						<!-- Add role form -->
						<div class="form-row slideInRight form-anime" id="role_form">
																			
							{% for field in form %}
								{% if field.name != 'csrf_token' %}
									<div class="form-group col-md-6">
										{% if field.id not in ['csrf_token'] %}
											{{ field.label }}
										{% endif %}
										{{ field }}
									</div>
								{% endif %}
							{%endfor%}
							
							<div class="form-group col-md-2">
								<label style="visibility:hidden;">Submit</label>
								<button type="submit" class="btn search-btn full-width rounded" 
								style="padding: 15px 25px;" id="ro_submit_btn">
									Submit
								</button>
								
							</div>

							{{ form.csrf_token }}
								

						</div>
						<!-- Add role form -->

					</form>
				</div>
				<!-- Role info -->
				
				
				
			</div>
			
		</div>
	</div>
</div>
<!-- /Row -->

						
<!-- Row -->
<div class="mb-3"><h5 class="mb-0">List of Roles</h5></div>
<div class="row mb-2">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<div class="dashboard_container">
			
			<div class="dashboard_container_body" id="results_box">
				{% if role_records | length != 0 %}
				<div class="table-responsive">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Role</th>
								<th scope="col">Permission Level</th>
								<th scope="col">Total No. of Users</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% for record in role_records %}
								<tr>
									<th scope="row">{{ record.purpose }}</th>
									{% set permit = 0 %}
									{% if record.permission_level %}
										{% set permit = 1 %}
									{% endif %}
									<td>{{ permit }} </td>
									<td>{{ record.users | length }}</td>
									<td>
										<button hx-get="{{ url_for('record_mgt.edit_role', role_id=record.id ) }}"
												id="edit_btn" class="result_btns" style="background-color:#0018a0; border: solid 1px #0018a0;"
												hx-trigger="click"
												hx-target="#editrecord"
												hx-swap="outerHTML"
												onclick="modal_effects()">
											<i class="ti-pencil"></i> Edit Role
										</button>

									</td>
									<td>
										<button hx-delete="{{ url_for('record_mgt.delete_role', role_id=record.id ) }}" id="delete_btn"
												class="result_btns" style="background-color:#be0000; border: solid 1px #be0000;"
												hx-trigger="click"
												hx-target="#results_box"
												hx-include="[name='csrf_token']"
												hx-swap="outerHTML">
											<i class="ti-trash"></i> Delete Role
										</button>
									</td>
								</tr>
							{% endfor %}
							<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						</tbody>
					</table>
				</div>
				{% else %}
					<h4 class="p-3 text-center">No role records found!</h4>
				{% endif %}
			</div>
			
		</div>
	</div>
	
</div>
<!-- /Row -->
							
{% endblock %}
	

{% block modal %}
    <div id="editrecord"></div>
{% endblock %}
